$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'blocks/all';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.csstransitions {
  @include gears;
  .animation {
    display: block;  
  }
}