script(type='text/html', id="cwCSSlogo")
    .cwLogoWrapper.ag
        .cwLogoContainer
            .cwLogoContainerInside
                .cwLogoContainerInsideInside
                .cwLogoInnerBoxCenter
        .cwLogoOutBoxTop
        .cwLogoOutBoxBottom
    a(href='https://github.com/centralway/centralway-logo-in-css', title='GitHub Repo') GitHub Repo
