script(type='text/html', id="Football")
    div(class='footballFieldCanvasesWrapper')
        canvas#footballFieldCanvas1(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas2(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas3(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas4(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas5(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas6(width=680, height=440, class='footballFieldCanvases')
        canvas#footballFieldCanvas7(width=680, height=440, class='footballFieldCanvases')