script(type='text/html', id="lightbulb")
    div.lightWrapper
        img(src="/images/light_lightBulb.png", class="lightSparklesHackathon", width=247, height=227)
        div.wrapperHackathon
            div.mainCircleHackathon
                div.cwLogoWrapper1Hackathon
                    img(src="/images/cwLogoLightBulb.svg", alt="cwLogo")
            div.screwHackathon
                div.screwLinesHackathon
                div.screwLinesHackathon
                div.screwLinesHackathon
                div.screwLinesHackathon
                div.screwLinesHackathon
            div.footHackathon